<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>ITE REST API</display-name>
    <description>Cisco IT Expert REST API</description>

    <!-- ***************** Spring context loading ********************** -->
    <!-- See: org.springframework.web.context.ContextLoader  -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/bootstrap-rest-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- *************************************************************** -->

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>${cisco.life},rest-api</param-value>
    </context-param>

    <!-- CXF JAX-RS -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
            <param-name>config-location</param-name>
            <param-value>/spring/cxf-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>service-list-path</param-name>
            <param-value>/cxf-services-wadl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <!-- other config -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
