<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="console">
        <param value="DEBUG" name="Threshold"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p {%t} [%c] | %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <!-- Custom Loggers  -->
    <logger name="com.cisco.ccit">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
